## Codigo Pandas para verificar que no hay duplicados.
> Soporte a problema de lectura de datos con Spark

In [40]:
#importa pandas para usarlo como pd
import pandas as pd

In [18]:
#recupera el archivo PostA desde hadoop
postA = pd.read_csv('PostA.csv')

In [3]:
postA.head()

,Unnamed: 0,Id,PostTypeId,ParentId,CreationDate,Score,Body
0,0,2,2,1,2015-10-29T19:14:23.673,26,<p>He encontrado la solución.</p>\n\n<p>Result...
1,1,4,2,3,2015-10-30T00:45:47.640,5,"<p><code>.AsString</code> devuelve el mismo ""<..."
2,2,7,2,5,2015-10-30T05:30:50.993,24,"<p>Lo de elegancia es algo difícil de decir, e..."
3,3,9,2,3,2015-10-30T13:59:47.113,11,<p>Antes de responder directamente la respuest...
4,4,11,2,10,2015-10-30T14:43:43.737,24,<p>En el primer caso:</p>\n\n<pre><code>nombre...

In [21]:
postA["Body"]=""

In [23]:
postA.head()

   Unnamed: 0  Id  PostTypeId  ParentId             CreationDate  Score Body
0           0   2           2         1  2015-10-29T19:14:23.673     26
1           1   4           2         3  2015-10-30T00:45:47.640      5
2           2   7           2         5  2015-10-30T05:30:50.993     24
3           3   9           2         3  2015-10-30T13:59:47.113     11
4           4  11           2        10  2015-10-30T14:43:43.737     24

In [16]:
postA.count()

Unnamed: 0      159308
Id              159308
PostTypeId      159308
ParentId        159308
CreationDate    159308
Score           159308
Body            159308
Title           159308
dtype: int64

In [24]:
postA.groupby(['Id']).size().reset_index(name='counts')

            Id  counts
0            2       1
1            4       1
2            7       1
3            9       1
4           11       1
...        ...     ...
159303  431623       1
159304  431625       1
159305  431631       1
159306  431633       1
159307  431638       1

[159308 rows x 2 columns]

In [31]:
postQ = pd.read_csv('PostQ.csv')

In [9]:
postQ.head()

,Unnamed: 0,Id,PostTypeId,AcceptedAnswerId,CreationDate,Body,Title,Tags,AnswerCount
0,0,1,1,2.0,2015-10-29T15:56:52.933,<p>Estoy creando un servicio usando <em>ASP.NE...,La creación manual de un alias de ruta con un ...,<.net><asp.net-web-api><asp.net>,1
1,1,3,1,9.0,2015-10-29T23:54:31.947,"<p>Luego de ver cierto código, me he dado cuen...",¿Es igual utilizar .AsString que .Text para ob...,<delphi>,3
2,2,5,1,208.0,2015-10-30T01:15:27.267,<p>¿Cuál es la forma más eficiente de separar ...,¿Cómo separar las palabras que contiene un str...,<c++><string>,7
3,3,6,1,654.0,2015-10-30T01:36:21.210,<p>¿Cómo estar seguro o qué pautas seguir a la...,"¿Cuándo usar y es seguro emplear const_cast, s...",<c++><casting>,2
4,4,8,1,442.0,2015-10-30T10:26:44.223,<p>Para un proyecto web en el que estoy partic...,"""Unknown provider: uiGmapGoogleMapApiProvider""...",<google-maps><angularjs><jasmine><karma-jasmine>,1

In [37]:
# Limpio Body y Tags para que no los considere para comparar. Si no hay Id de Post duplicado, no hay duplicados.
postQ["Body"]=""
postQ["Title"]=""

In [11]:
postQ.head()

,Unnamed: 0,Id,PostTypeId,AcceptedAnswerId,CreationDate,Body,Title,Tags,AnswerCount
0,0,1,1,2.0,2015-10-29T15:56:52.933,,,<.net><asp.net-web-api><asp.net>,1
1,1,3,1,9.0,2015-10-29T23:54:31.947,,,<delphi>,3
2,2,5,1,208.0,2015-10-30T01:15:27.267,,,<c++><string>,7
3,3,6,1,654.0,2015-10-30T01:36:21.210,,,<c++><casting>,2
4,4,8,1,442.0,2015-10-30T10:26:44.223,,,<google-maps><angularjs><jasmine><karma-jasmine>,1

In [25]:
postQ.groupby(['Id']).size().reset_index(name='counts')

            Id  counts
0            1       1
1            3       1
2            5       1
3            6       1
4            8       1
...        ...     ...
145618  431637       1
145619  431639       1
145620  431640       1
145621  431641       1
145622  431642       1

[145623 rows x 2 columns]

In [12]:
postQ.count()

Unnamed: 0          145623
Id                  145623
PostTypeId          145623
AcceptedAnswerId     61586
CreationDate        145623
Body                145623
Title               145623
Tags                145623
AnswerCount         145623
dtype: int64