In [1]:
# INTRODUCCION A PYSPARK

In [3]:
#importo la libreria
from pyspark.sql import SparkSession

In [4]:
#abro una sesion con un nombre
spark=SparkSession.builder.appName('pysarkpruebas').getOrCreate()

In [12]:
#leo un archivo de HDFS
#header true es para que la primera fila sea considerada los atributos y no una tupla mas
#inferschema es para que tome los tipos de datos como son, no toso string..prueben poner false y luego imprimir el esquema
df_nba = spark.read.csv('hdfs://127.0.0.1:9000/so/username.csv', header=True,  inferSchema=False)

In [13]:
#mostrar el esquema que interpretó en el header
df_nba.printSchema()

root
 |-- Username; Identifier;First name;Last name: string (nullable = true)

In [14]:
#leo otro archivo HDFS 
df_movie = spark.read.csv('hdfs://127.0.0.1:9000/so/username.csv', header=True, inferSchema=True)
#mostrar el esquema
df_movie.printSchema()

AnalysisException: Path does not exist: hdfs://127.0.0.1:9000/cursoFAI/movie.csv

In [ ]:
#mostrar solo las primeras 3 tuplas de movie
df_movie.show(3)

In [8]:
#mostrar las primeras 4 tuplas de la columna genres
#el parámetro falso avisa que no trunque el resultado de la columna (do not truncate)
df_movie.select('genres').show(10, False)

+-------------------------------------------+
|genres                                     |
+-------------------------------------------+
|Adventure|Animation|Children|Comedy|Fantasy|
|Adventure|Children|Fantasy                 |
|Comedy|Romance                             |
|Comedy|Drama|Romance                       |
|Comedy                                     |
|Action|Crime|Thriller                      |
|Comedy|Romance                             |
|Adventure|Children                         |
|Action                                     |
|Action|Adventure|Thriller                  |
+-------------------------------------------+
only showing top 10 rows

In [9]:
#mostrar las primeras 4 tuplas de la columna genres y title
df_movie.select('genres','title').show(10, False)

+-------------------------------------------+----------------------------------+
|genres                                     |title                             |
+-------------------------------------------+----------------------------------+
|Adventure|Animation|Children|Comedy|Fantasy|Toy Story (1995)                  |
|Adventure|Children|Fantasy                 |Jumanji (1995)                    |
|Comedy|Romance                             |Grumpier Old Men (1995)           |
|Comedy|Drama|Romance                       |Waiting to Exhale (1995)          |
|Comedy                                     |Father of the Bride Part II (1995)|
|Action|Crime|Thriller                      |Heat (1995)                       |
|Comedy|Romance                             |Sabrina (1995)                    |
|Adventure|Children                         |Tom and Huck (1995)               |
|Action                                     |Sudden Death (1995)               |
|Action|Adventure|Thriller                  |GoldenEye (1995)                  |
+-------------------------------------------+----------------------------------+
only showing top 10 rows

In [10]:
#leo un 3er archivo HDFS 
df_rating = spark.read.csv('hdfs://127.0.0.1:9000/cursoFAI/rating.csv', header=True,  inferSchema=True)
#mostrar el esquema
df_rating.printSchema()

root
 |-- userId: integer (nullable = true)
 |-- movieId: integer (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp: string (nullable = true)

In [11]:
#mostrar solo las primeras 3 tuplas de movie
df_rating.show(3)

+------+-------+------+-------------------+
|userId|movieId|rating|          timestamp|
+------+-------+------+-------------------+
|     1|      2|   3.5|2005-04-02 23:53:47|
|     1|     29|   3.5|2005-04-02 23:31:16|
|     1|     32|   3.5|2005-04-02 23:33:39|
+------+-------+------+-------------------+
only showing top 3 rows

In [12]:
#mostrar los tipos de datos de la tabla rating
df_rating.dtypes

[('userId', 'int'),
 ('movieId', 'int'),
 ('rating', 'double'),
 ('timestamp', 'string')]

In [13]:
#contar la cantidad de tuplas de rating
print("la cantidad de tuplas de rating es: ",df_rating.count())

la cantidad de tuplas de rating es:  20000263

In [14]:
#contar la cantidad de tuplas de movies
print("la cantidad de tuplas de movie es: ", df_movie.count())

la cantidad de tuplas de movie es:  27278

In [15]:
#contar la cantidad de users diferentes en ratings
df_rating.select('userId').distinct().count()

138493

In [16]:
#crear un nuevo dataframe con las 1ras 5 filas de rating
df_nuevo= df_rating.limit(5)
df_nuevo.show(5)

+------+-------+------+-------------------+
|userId|movieId|rating|          timestamp|
+------+-------+------+-------------------+
|     1|      2|   3.5|2005-04-02 23:53:47|
|     1|     29|   3.5|2005-04-02 23:31:16|
|     1|     32|   3.5|2005-04-02 23:33:39|
|     1|     47|   3.5|2005-04-02 23:32:07|
|     1|     50|   3.5|2005-04-02 23:29:40|
+------+-------+------+-------------------+

In [17]:
df_rating.show(10)

+------+-------+------+-------------------+
|userId|movieId|rating|          timestamp|
+------+-------+------+-------------------+
|     1|      2|   3.5|2005-04-02 23:53:47|
|     1|     29|   3.5|2005-04-02 23:31:16|
|     1|     32|   3.5|2005-04-02 23:33:39|
|     1|     47|   3.5|2005-04-02 23:32:07|
|     1|     50|   3.5|2005-04-02 23:29:40|
|     1|    112|   3.5|2004-09-10 03:09:00|
|     1|    151|   4.0|2004-09-10 03:08:54|
|     1|    223|   4.0|2005-04-02 23:46:13|
|     1|    253|   4.0|2005-04-02 23:35:40|
|     1|    260|   4.0|2005-04-02 23:33:46|
+------+-------+------+-------------------+
only showing top 10 rows

In [18]:
#agrupar rating  por la columna movieId y contar el resultado
df_rating.groupBy("movieId").count().show(20)

+-------+-----+
|movieId|count|
+-------+-----+
|   3997| 2047|
|   1580|35580|
|   3918| 1246|
|   2366| 6627|
|   3175|13945|
|   4519| 1936|
|   1591| 5255|
|    471|11268|
|  36525| 1169|
|  44022| 2465|
|   2866| 1407|
|   1645|11458|
|   5803| 1046|
|  54190| 1687|
|   1088|11013|
|    833| 1427|
|   8638| 3449|
|    463|  410|
|   1959| 5016|
|   2659|  260|
+-------+-----+
only showing top 20 rows

In [19]:
#agrupar rating  por la columna rating
df_rating.groupBy('rating').count().show(20)

+------+-------+
|rating|  count|
+------+-------+
|   3.5|2200156|
|   4.5|1534824|
|   2.5| 883398|
|   1.0| 680732|
|   4.0|5561926|
|   0.5| 239125|
|   3.0|4291193|
|   2.0|1430997|
|   1.5| 279252|
|   5.0|2898660|
+------+-------+

In [20]:
#agrupar rating  por la columna movieId
df_rating.groupBy('movieId').count().show(20)

+-------+-----+
|movieId|count|
+-------+-----+
|   3997| 2047|
|   1580|35580|
|   3918| 1246|
|   2366| 6627|
|   3175|13945|
|   4519| 1936|
|   1591| 5255|
|    471|11268|
|  36525| 1169|
|  44022| 2465|
|   2866| 1407|
|   1645|11458|
|   5803| 1046|
|  54190| 1687|
|   1088|11013|
|    833| 1427|
|   8638| 3449|
|    463|  410|
|   1959| 5016|
|   2659|  260|
+-------+-----+
only showing top 20 rows

In [21]:
#agrupo por movieId y saco el promedio de rating que tiene
df_rating.groupby('movieId').mean('rating')

DataFrame[movieId: int, avg(rating): double]

In [22]:
#ahora lo muestro
df_rating.groupby('movieId').mean('rating').show(20)

+-------+------------------+
|movieId|       avg(rating)|
+-------+------------------+
|   3997|2.0703468490473864|
|   1580|  3.55831928049466|
|   3918| 2.918940609951846|
|   2366|3.5492681454655197|
|   3175| 3.600717102904267|
|   4519|3.2463842975206614|
|   1591|2.6201712654614653|
|    471|3.6641817536386228|
|  36525| 3.482891360136869|
|  44022| 3.334077079107505|
|   2866| 3.605188343994314|
|   1645|3.4787484726828417|
|   5803| 2.772944550669216|
|  54190|3.6701244813278007|
|   1088| 3.209207300463089|
|    833| 2.725998598458304|
|   8638|3.9375181211945494|
|    463|               2.8|
|   1959| 3.628987240829346|
|   2659|3.2326923076923078|
+-------+------------------+
only showing top 20 rows

In [23]:
#aplicando filtros (como un where de SQL)
#mostrar los rating mayores a 4
df_rating.filter(df_rating['rating'] > 4).show(10)

+------+-------+------+-------------------+
|userId|movieId|rating|          timestamp|
+------+-------+------+-------------------+
|     1|   1196|   4.5|2005-04-02 23:32:22|
|     1|   1198|   4.5|2005-04-02 23:30:24|
|     1|   4993|   5.0|2005-04-02 23:31:22|
|     1|   5952|   5.0|2005-04-02 23:30:19|
|     1|   7153|   5.0|2005-04-02 23:30:33|
|     1|   8507|   5.0|2004-09-10 03:13:47|
|     1|   8636|   4.5|2005-04-02 23:44:53|
|     2|     62|   5.0|2000-11-21 15:29:58|
|     2|     70|   5.0|2000-11-21 15:31:31|
|     2|    260|   5.0|2000-11-21 15:36:54|
+------+-------+------+-------------------+
only showing top 10 rows

In [24]:
#cuantas valores nulos tiene userId?
print("la cantidad de NO nulos es: ", df_rating.filter(df_rating.rating.isNotNull()).count())

la cantidad de NO nulos es:  20000263

In [25]:
#cuantas valores no nulos tiene userId?
print("la cantidad de NO nulos es: ", df_rating.filter(df_rating.rating.isNull()).count())

la cantidad de NO nulos es:  0

In [26]:
# creo una tabla desde el csv de rating
df_rating.createOrReplaceTempView("tablaRating")

In [27]:
# y ahora puedo hacer clq consulta con la sintaxis tipica de SQL.
# usamos la sesión de spark creada al ppio
resultado = spark.sql("SELECT userId FROM tablaRating WHERE rating > 4")
resultado.show(5)

+------+
|userId|
+------+
|     1|
|     1|
|     1|
|     1|
|     1|
+------+
only showing top 5 rows